<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>com.shinowit.listener.SessionAttributeListener</listener-class>
  </listener>
  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.shinowit.server.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.shinowit.server.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageSubmit</display-name>
    <servlet-name>MessageSubmit</servlet-name>
    <servlet-class>com.shinowit.server.MessageSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSubmit</servlet-name>
    <url-pattern>/MessageSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyServlet</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>com.shinowit.server.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/ReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>com.shinowit.server.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMsg</display-name>
    <servlet-name>DeleteMsg</servlet-name>
    <servlet-class>com.shinowit.server.DeleteMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMsg</servlet-name>
    <url-pattern>/DeleteMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReply</display-name>
    <servlet-name>DeleteReply</servlet-name>
    <servlet-class>com.shinowit.server.DeleteReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReply</servlet-name>
    <url-pattern>/DeleteReply</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterImpl</filter-name>
    <filter-class>com.shinowit.server.FilterImpl</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterImpl</filter-name>
    <url-pattern>/mmm</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>QueryForReplyServlet</display-name>
    <servlet-name>QueryForReplyServlet</servlet-name>
    <servlet-class>com.shinowit.server.QueryForReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryForReplyServlet</servlet-name>
    <url-pattern>/QueryForReplyServlet</url-pattern>
  </servlet-mapping>
</web-app>